@import "../../mixins/breakpoints.scss";
@import "../../global/colors.scss";

.login-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;

  .login-form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .sign-up {
      display: flex;
      justify-content: flex-end;

      span {
        font-weight: bold;
        color: $authentication-page-primary-bg;
        cursor: pointer;
      }
    }

    form {
      .button-wrapper {
        height: 3rem;
        width: 100%;
        border-radius: 8px;
        background-color: $authentication-page-primary-bg;
        margin-top: 1.4rem;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        p {
          color: white;
          font-size: 16px;
        }

        svg {
          color: white;
        }
      }

      .form-field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
        min-width: 482px;
        max-width: 560px;
      }

      .form-field-isolated {
        display: block;
        margin-top: 1.6rem;
        min-width: 482px;
        max-width: 560px;
      }
    }
  }

  .bg-image {
    background-color: $authentication-page-primary-bg;
    background-image: url("../../assets/wavey-fingerprint.svg");
    /* background by SVGBackgrounds.com */
  }
}

@include xs-mobile() {
  .bg-image {
    display: none;
  }
}

@include mobile() {
  .bg-image {
    display: none;
  }
}

@include tablet() {
  .login-page-wrapper {
    grid-template-columns: 30% 70%;
  }

  .bg-image {
    display: block;
  }
}

@include desktop() {
  .login-page-wrapper {
    grid-template-columns: 40% 60%;

    .sign-up {
      max-width: 520px;
      width: 58%;
    }
    form {
      max-width: 520px;
      width: 58%;
      height: 72%;
    }
  }

  .bg-image {
    display: block;
  }
}

// TODO: LOGIN - Redo responsiveness on screen and input field
