/* DASHBOARD - NAVBAR COLORS VARIABLES */
$navbar-primary-bg: #2c3353;
$navbar-secondary-bg: #202849;
$navbar-wrapper-bg: #fafcfe;
$navbar-icon-colors: #fafcfe;

/* DASHBOARD - MAIN CONTENT COLORS VARIABLES */
$dashboard-primary-bg: #fafcfe;
$dashboard-header-input-placeholder: #93a3ae;
$dashboard-header-input-background: #edf3f8;
$dashboard-header-input-icon-color: #000000;
$dashboard-header-avatar-label-color: #000000;


$authentication-page-primary-bg: #610094;
