@import "../../global/colors.scss";

.navbar-wrapper {
  background-color: #fafcfe;
  position: fixed;
  height: 100%;
  width: 4.4rem;

  .navbar {
    width: 100%;
    height: 100%;

    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: $navbar-primary-bg;

    .items-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-right: 0.4rem;
      padding-top: 4.6rem;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        svg {
          cursor: pointer;
          font-size: 2.8rem;
          color: $navbar-icon-colors;
          padding: 0.6rem;
          border: 0px solid black;
          border-radius: 0.8rem;
          transition: 0.4s ease-in-out;
        }

        svg:hover {
          background-color: $navbar-secondary-bg;
        }
      }

      .icon.active > svg {
        background-color: $navbar-secondary-bg;
      }
    }
  }
}

.navbar-mobile {
  display: none;
  position: fixed;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: $navbar-primary-bg;
  top: 1.2rem;
  right: 1.4rem;
  z-index: 5;

  .options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
    transition: all 0.4s ease-in-out;
    position: relative;

    &.show {
      transform: translateY(0px);
      opacity: 1;

      .icon-mobile {
        cursor: pointer;
      }
    }

    &.hidden {
      transform: translateY(-2rem);
      opacity: 0;
    }

    .icon-mobile {
      background-color: #2c3353;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.2rem;
      z-index: 10;

      svg {
        font-size: 1.8rem;
        color: white;
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;

    svg {
      font-size: 2.2rem;
      color: white;
    }
  }
}

@media (max-width: 767px) {
  .navbar-mobile {
    display: block;
  }

  .navbar-wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-mobile {
    display: block;
  }

  .navbar-wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-wrapper {
    display: block;
  }
}

@media (min-width: 1200px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-wrapper {
    display: block;
  }
}
